<%- include("../../partials/header") %>
<%- include("../../partials/navbar") %>

<div class="container">
    <hr>
    <div class="card">
      <div class="card-header">
        <h2>Novo Artigo</h2>
    </div>
    <form method="POST" action="/articles/save">
        <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo"><br>
        <textarea 
        class="form-control" 
        placeholder="Escreva o artigo aqui" 
        name="body"
        id="article"
        >
        </textarea><br>     
        <label>Categoria</label>
        <select name="category" class="form-control">
            <% categories.forEach((category) => {%>
                <option value="<%= category.id %>"><%= category.title %></option>
            <% }) %>
        </select>
        <br>
        <button class="btn-success">Cadastrar</button>
    </form>
    </div>
</div>

<%- include("../../partials/footer") %>

<script src="https://cdn.tiny.cloud/1/ydtchya01pegdycrovboxvp80y7sb585qadvvpqtl92wtcq8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>

    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscrean insertdatetime media save table paste emoticons'
        ]
    })

</script>